*{
    font-family: sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

header{
    width: 100vw;
    height: 35vh;
    display: inline-flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

#logo{
    display: block;
    background: url(../media/logo.png) no-repeat center bottom;
    height: 120px;
    width: 259px;
}

/* dark backup background in case background image doesnt load */
#home-bg, #projects-bg, #contact-bg{
    background-color: #141416;
    z-index: -1;
    position: fixed;
}

/* set background images to view dimensions */
#home-bg img, #projects-bg img, #contact-bg img{
    height: 100%;
    width: 100%;
    background-size: contain;
    position: fixed;
}

/* navbar */
nav{
    display: inline-flex;
    top: 0;
    position: fixed;
    z-index: 2;
    height: 10vh;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to right, rgba(27, 28, 30, 0) 70%, rgba(27, 28, 30, 0.5));
}

nav a{
    margin-right: 3vw;
    font-size: 24px;
    text-decoration: none;
    color: whitesmoke;
    padding: 0.7%;
}

nav a:hover{
    border: 1px solid whitesmoke;
    border-radius: 6px;
    background-color: rgba(88, 89, 90, 0.5);
    transition-duration: 0.3s;
}

/* grey boxes for home page */
.aboutme, .languages{
    display: flex;
    position: relative;
    background-color: #1b1c1e;
    border-radius: 30px;
    height: 22%;
    min-height: 300px;
    width: 25%;
    min-width: 350px;
    box-shadow: 10px 12px 10px black;
    flex-flow: column;
}

.aboutme{
    top: 29vh;
    left: 19vw;
}
 .aboutme h1{
    display: flex;
    color: #9296e3;
    font-size: calc(36px + 1vw);
    text-align: center;
    margin: 70px auto 1px auto;
 }
 .aboutme h2{
     display: flex;
     color: #767677;
     font-size: calc(24px + 0.6vw);
     text-align: center;
     margin: 30px auto 1px auto;
 }

.languages{
    top: 50vh;
    left: 25vw;
}

.languages h2{
    display: flex;
    color: #9296e3;
    font-size: calc(36px + 1vw);
    text-align: center;
    margin: 15px auto 1px auto;
}
.languages ul{
    color: #dc6868;
    font-size: calc(24px + 0.6vw);
    margin: auto;
}

/* grey container for projects page list */
.projectslist{
    display: flex;
    position: relative;
    background-color: #1b1c1e;
    border-radius: 30px;
    box-shadow: 10px 12px 10px black;
    flex-flow: column;
    margin-top: 25vh;
    top: 10vh;
    left: 25%;
    height: fit-content;
    width: 48%;
    align-items: center;
}

.projectslist h1{
    margin: 3%;
    font-size: calc(36px + 1vw);
    color: #dc6868;
}

.projectslist ul{
    color:  #9296e3;
    font-size: calc(24px + 0.6vw);
}

.projectslist ul a{
    text-decoration: none;
    color: #a1bdfa;
}

.projectslist ul a:hover{
    color: rgb(0, 255, 242);
    transition-duration: 0.15s;
}

/* contact form, currently nonfunctional and without backend support */
/* .formcontainer{
    display: flex;
    position: relative;
    background-color: #1b1c1e;
    border-radius: 30px;
    box-shadow: 10px 12px 10px black;
    flex-flow: column;
    top: 30vh;
    left: 30%;
    height: fit-content;
    width: 40vw;
    justify-content: center;
    align-items: center;
}

input[type=text], select, textarea {
    width: 25vw; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20vw;
}

  input[type=submit]:hover {
    background-color: #8ae990;
    transition-duration: 0.3s;
  }

  label{
      color: #9296e3;
      font-size: calc(24px + 0.6vw);

  }

  form{
      display: inline-flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 3%;
  }


  #cMessage{
      text-align: center;
      font-size: calc(36px + 1vw);
      color: #9296e3;
  } */
 

  /* styling for contact page using emailto:*/
  #contactcontainer{
    display: flex;
    position: relative;
    background-color: #1b1c1e;
    border-radius: 30px;
    box-shadow: 10px 12px 10px black;
    flex-flow: column;
    top: 30vh;
    left: 38vw;
    height: fit-content;
    width: fit-content;
    min-width: 45vh;
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }

  .contactbutton{
      background-color: #9296e3;
      color: #141416;
      font-size: calc(32px + 0.6vw);
      text-decoration: none;
      border-radius: 10px;
      padding: 5%;
      box-shadow: 6px 8px 10px black;
      margin: 20%;
  }

  /* footer div */
  footer{
      height: 25vh;
      width: 100vw;
      position: relative;
      top: 100vh;
      display: flex;
      justify-content: center;
      align-content: center;
  } 

  /* footer background to prevent icons from blurring */
  #footerbackground{
    height: 30vh;
    width: 100vw;
    background-color: rgba(27, 28, 30, 0.9);
    position: absolute;
    filter: blur(10px);
  }

  #facebookicon, #twittericon, #instagramicon{
    height: 48px;
    width: 48px;
    padding: 5%;
    margin: 3%;
    z-index: 1;
  }

  #facebookicon{
      background: url(../media/facebook.svg) 48px 48px no-repeat;
  }

  #twittericon{
    background: url(../media/twitter.svg) 48px 48px no-repeat;
  }

  #instagramicon{
    background: url(../media/instagram.png) 48px 48px no-repeat;
  }